In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('cleaningStep3.gzip',compression='gzip',index_col=0)

C:\Users\Matthias\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df.head()

,date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay
0,2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,18:05:00,10,19:31:00,19:48:00,17
1,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,17:52:00,-3,19:31:00,19:29:00,-2
2,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,14:45:00,14:42:00,-3,16:23:00,16:15:00,-8
3,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,20:05:00,20:07:00,2,21:40:00,21:39:00,-1
4,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,16:30:00,16:24:00,-6,18:08:00,18:05:00,-3

In [5]:
df_2 = df

In [6]:
for i in range (0,len(df_2)):
    if(df_2.departure_delay[i] > 60 * 24):
        df_2 = df_2.drop(i)

In [7]:
df_2 = df_2.reset_index()

In [8]:
for i in range (0,len(df_2)):
    if(df_2.departure_delay[i] > 60 * 24):
        print(i)
        print(df_2.departure_delay[i])

In [9]:
df_2.head()

,index,date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay
0,0,2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,18:05:00,10,19:31:00,19:48:00,17
1,1,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,17:52:00,-3,19:31:00,19:29:00,-2
2,2,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,14:45:00,14:42:00,-3,16:23:00,16:15:00,-8
3,3,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,20:05:00,20:07:00,2,21:40:00,21:39:00,-1
4,4,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,16:30:00,16:24:00,-6,18:08:00,18:05:00,-3

In [11]:
df_2 = df_2.drop("index",axis=1)

In [12]:
df_2.head()

,date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay
0,2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,18:05:00,10,19:31:00,19:48:00,17
1,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,17:52:00,-3,19:31:00,19:29:00,-2
2,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,14:45:00,14:42:00,-3,16:23:00,16:15:00,-8
3,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,20:05:00,20:07:00,2,21:40:00,21:39:00,-1
4,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,16:30:00,16:24:00,-6,18:08:00,18:05:00,-3

In [13]:
df_2.to_csv('cleaningStep4.gzip',compression='gzip')